# 20. Pandas Vectorized Methods

### Lambda

- lambda 인수:식 (예:  lambda x: x >= 1 )
- lambda 식을 사용하면 간단한 식의 경우, 인수에 람다식을 그대로 넣어 가독성이 좋아지고 불필요한 함수 정의 없이 코드를 깔끔하게 할 수 있음
- Lambda Expression : https://docs.python.org/2/tutorial/controlflow.html#lambda-expressions

In [16]:
from pandas import DataFrame, Series
import numpy as np

d = {'one': Series([1,2,3], index=['a','b','c']),
     'two': Series([1,2,3,4], index=['a','b','c','d'])}

df = DataFrame(d)
print (df)
print ("")
print (df.apply(np.mean))
print ("")
print (df['one'].map(lambda x: x>=1))
print ("")
df.applymap(lambda x: x>=1)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

one    2.0
two    2.5
dtype: float64

a     True
b     True
c     True
d    False
Name: one, dtype: bool

     one   two
a   True  True
b   True  True
c   True  True
d  False  True

# 21. Quiz: Average Bronze Medals

In [17]:
from pandas import DataFrame, Series
import numpy

def avg_medal_count():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':Series(countries),
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}
    df = DataFrame(olympic_medal_counts)
    
    # Answer
    at_least_one_gold = df[df['gold'] > 0]
    avg_bronze_at_least_one_gold = at_least_one_gold['bronze'].mean()
    
    return avg_bronze_at_least_one_gold

print (avg_medal_count())

4.238095238095238

# 22. Quiz: Average Gold, Silver, And Bronze Medlas

In [35]:
import numpy
from pandas import DataFrame, Series


def avg_medal_count():
    countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

    gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
    silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
    bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
    
    olympic_medal_counts = {'country_name':countries,
                            'gold': Series(gold),
                            'silver': Series(silver),
                            'bronze': Series(bronze)}    
    df = DataFrame(olympic_medal_counts)
    
    # Answer    
    avg_medal_cnt = df[['gold','silver','bronze']].apply(numpy.mean)
      
    return avg_medal_cnt

print (avg_medal_count())

gold      3.807692
silver    3.730769
bronze    3.807692
dtype: float64